
body{
    font-family: 'Red Hat Text';
    margin: 0px;
    padding: 0px;
    display: flex;
    height: 100vw;
    justify-content: space-around;
    
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: fit-content;
    margin: 0px auto;
    gap: 20px;

}

h1{
    grid-column: span 3;

}

img{
    max-width: 250px;
    border-radius: 10px;
}

.img{
    position: relative;

.cart{
    border: 1px solid rgb(137, 99, 99);
    padding: 10px 10px;
    border-radius:10px;
    position: absolute;
    background-color: white;
    top:220px;
    left:60px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    align-items: center;
    color: rgb(204, 63, 63);

    img{
    
        margin: auto 5px;
        width: 15px;
    }
}
p.name{
    color: rgb(172, 171, 170);
}

.price::before{
    content: "$";
}
.price{
    margin-top: 0px;
    color: rgb(204, 63, 63);
    font-weight: bold;
}
.description{
    font-weight: bold;
}
.tags{
    line-height: 6px;
}
}
table{
    height: fit-content;
    font-size: 13px;
    margin: 50px auto;
    background-color: antiquewhite;
    text-align: center;

    input{
        width: 40px;
    }
}
/* media query */
@media screen and (min-width:0px) {

    body{
       display: block;
       height: fit-content;
    }

    .container{
        display: block;

        img{
            width: 300px;
        }

    }

    table{
        width: 50%;
        margin: 0px auto;
    }

}

@media screen and (min-width:650px) {
  
    body{
        display: flex;
        justify-content: space-around;
    }
    table{
        /* width: 400px; */
        margin-left: 30px;
    }
}

@media screen and (min-width:700px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    table{
        margin-top: 50px;
    }
}

